			<form class="form-signin well" action="" method="post">
				<h2 class="form-signin-heading">Please log in</h2>
				<input type="text" class="input-block-level" id="username" name="username" placeholder="Username">
				<input type="password" class="input-block-level" id="password" name="password" placeholder="Password">
				<button class="btn btn-large btn-primary btn-block" type="submit">Log in</button>
			</form>
