	<h1>{{ .Username }}&nbsp;&nbsp;<small>({{ .Username }})</small></h1>
{{ if not .ReadOnly }}
	<form id="filter" action="" method="post">
{{ end }}
		<label class="control-label" for="keys">SSH Public Keys</label>
		<a href="{{ GetURL "userkeys" "username" .Username}}" class="btn btn-info btn-xs" role="button">View Plain Text Keys</a>
		<textarea class="form-control" id="keys" name="keys" rows="10" wrap="soft"{{ if .ReadOnly }} disabled{{ end }}>{{ .Keys }}</textarea>
{{ if not .ReadOnly }}
		<br>
		<button class="btn btn-primary">Update</button>
	</form>
{{ end }}
